
/* ============================================= */
 /* Variables */
/* ============================================= */

$white: #fff;
$color-primary: #777;
$color-links: #51ddfc;
$color-secondary: #58e1c1;
$color-image-frame: #ccc;


 /* Media Queries breakpoints */

 $brk-narrow: 'min-width: 768px';
